<% allConversationWithMessages.forEach(function(conversation, index) { %>
<div class="img-chat-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>